<mat-toolbar>
    <span>
        <a routerLink = 'note-list' >Notlarım</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-raised-button [routerLink]="['/create-note']" style="background-color: blue; margin-right: 20px;">Not Ekle</a>
        </li>
        <li *ngIf="userIsAuthenticated">
           {{name}}
        </li>&nbsp;&nbsp;
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLinkActive="mat-accent" routerLink="/login">Giriş</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-raised-button color="warn" (click)="onLogout()">Çıkış Yap</button>
        </li>
    </ul>
</mat-toolbar>
